<footer class="footer">
    <div class="footer-content">
        <% if(theme.copyright) { %>
            <div class="copyright">
                <%- theme.copyright %>
            </div>
        <% } %>
        <!-- 主题制作不易，还请保留出处 -->
        <div class="licenses">
            Theme - Face Team Show
        </div>
    </div>
</footer>